---
foo: bar
---
{% include doctype.html %}
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body>

    {% include blog_header.html %}

    <div id="main" class="container">
      <div id="blog">
        <div class="main_content">
          {% for post in site.posts | reverse | limit: 5 %}
          <a href="{{post.url}}"><h1>{{post.title}}</h1></a>
          <h3>Posted on {{post.date | date_to_english_html_string}} </h3>
          {{ post.content }}
          {% endfor %}
        </div>
      </div>
    </div>

    {% include blog_bottom.html %}
    {% include footer.html %}
  </body>
</html>