---
foo: bar
---
{% include doctype.html %}
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body>

    <div id="header">
      <img id="ae" src="/images/ae.png" alt="Some languages are more equal than others" />

      <div class="container">
        <h1 id="title">Aesthetically Speaking</h1>
        <h2 id="name">Sam Aaron</h2>

        <ul id="topnav">
          <li><a href="/index.html" title="Home">Home</a></li>
          <li class="active"><a href="/blog.html" title="Blog">Blog</a></li>
          <li><a href="/cv.pdf" title="Curriculum Vitæ">CurriculumVitæ</a></li>
        </ul>
      </div>
    </div>

    <div id="main" class="container">
      <div id="blog">
        <div class="main_content">
          {% for post in site.posts limit: 5 %}
          <h1>{{post.title}}</h1>
          <h3>Posted on {{post.date | date:'%A'}} the {{post.day}}<sup>{{post.suffix}}</sup> of {{post.date | date:'%B'}}, {{post.date | date:'%Y'}}</h3>
          {{ post.content }}
          {% endfor %}
        </div>
      </div>
    </div>

    {% include blog_bottom.html %}
    {% include footer.html %}
  </body>
</html>