<div id="rightcolumn">
  <div class="rightbox_wrapper">
    <div class="interest">
      <a href="http://dev.innovationfactory.nl" title="Innovation Factory Development Team"><img src="images/layouts/if.png" alt="Innovation Factory Logo" class="interest_image" /></a>
      <div class="interest_description">
        <a href="http://dev.innovationfactory.nl" title="Innovation Factory Development Team"><h4>Innovation Factory</h4></a>
        <p>I work for <a href="http://www.innovationfactory.nl" title="Innovation Factory">Innovation Factory</a>, a really great company full of very smart and motivated people based in Amsterdam.</p><br />
        <p>We design and develop processes and tools which we use to deliver an increase in the innovative capacity and capabilities of our clients. We primarily develop with <a href="http://www.ruby-lang.org" alt="The Ruby Programming Language">Ruby</a> and use the most innovative set of technologies and methods we come across which currently includes <a href="http://git-scm.com/" alt="Git - Fast Versioning Control System">Git</a>, <a href="http://behaviour-driven.org/" alt="Behaviour Driven Development">Behaviour Driven Development</a> and a healthy mix of Agile.
      </div>
    </div>
  </div>
  <div class="rightbox_wrapper">
    <div class="interest">
      <a href="http://ioke.org" title="Ioke"><img src="images/layouts/ioke.png" alt="Ioke Logo" class="interest_image" /></a>
      <div class="interest_description">
        <a href="http://ioke.org" title="Ioke"><h4>Ioke</h4></a>
        <p>I'm a core contributor to the programming language <a href="http://ioke.org" title="Ioke">Ioke</a>.</p><br />
        <p>Ioke is an astonishingly flexible language optimised for expressiveness. In terms of conceptual efficiency it outclasses <a href="http://ruby-lang.org" alt="The Ruby Programming Language">Ruby</a> and <a href="http://www.python.org/" alt="The Python Programming Language">Python</a> in the same way they outshine <a href="http://java.com/" alt="Java">Java</a> and siblings.
      </div>
    </div>
  </div>
  <div class="rightbox_wrapper">
    <div class="interest">
      <img src="images/layouts/monome.png" alt="monome" class="interest_image" />
      <div class="interest_description">
        <h4>Music</h4>
        <p>I'm very interested with the combination of tactile interfaces and programming languages for the creation of new kinds of musical instrument.</p><br />
        <p>Currenty I'm experimenting with a combination of a <a href="http://monome.org" alt="moome">monome</a>, a <a href="http://www.novationmusic.com/products/remote_zero_sl" alt="Novation ReMOTE ZeRO SL">Novation ReMOTE ZeRO SL</a>, <a href="http://ioke.org" alt="Ioke">Ioke</a>, <a href="http://ruby-lang.org" alt="Ruby">Ruby</a>, <a href="http://supercollider.sourceforge.net/" alt="SuperCollider">SuperCollider</a> and <a href="http://clojure.org" alt="Clojure">Clojure</a>.
      </div>
    </div>
  </div>
</div>