<div id="bottominfo">
  <div class="container">
    <div class="bottomcolumn">
      <h3>Find me on the web</h3>
      <br/>
      <ul class="borderedlist iconlist">
        <li><a href="http://github.com/samaaron" title="My Github Profile">Github</a></li>
        <li><a href="http://www.last.fm/user/samaaron" title="My Last.fm Profile">Last.fm</a></li>
        <li><a href="http://twitter.com/samaaron" title="My Twitter Feed">Twitter</a></li>
        <li><a href="http://www.linkedin.com/in/samaaron" title="My LinkedIn Page">LinkedIn</a></li>
        <li><a href="http://www.workingwithrails.com/person/5167-sam-aaron" title="My Working With Rails Profile">Working With Rails</a></li>
      </ul>
    </div>
    <!-- bottom center information -->
    <div class="bottomcolumn">
      <h3>Recently Read Books</h3>
      <br/>
      <ul class="borderedlist iconlist">
        <li><a href="http://www.amazon.co.uk/Notes-Synthesis-Form-Harvard-Paperbacks/dp/0674627512/ref=sr_1_1?ie=UTF8&s=books&qid=1246355416&sr=8-1" title="Notes on the Synthesis of Form">Notes on the Synthesis of Form</a></li>
        <li><a href="http://www.amazon.co.uk/Godels-Proof-Douglas-R-Hofstadter/dp/0814758169/ref=sr_1_2?ie=UTF8&s=books&qid=1242384608&sr=8-2" title="G&#246;del's Proof">G&#246;del's Proof</a></li>
        <li><A href="http://www.amazon.co.uk/Bash-Z-Shell-Conquering-Command/dp/1590593766/ref=sr_1_1?ie=UTF8&q" title="From Bash to ZShell">From Bash to ZShell</a></li>
        <li><a href="http://www.amazon.co.uk/ThoughtWorks-Anthology-Technology-Innovation-Programmers/dp/193435614X/ref=sr_1_1?ie=UTF8&s=books&qid=1242384834&sr=1-1" title="The ThoughWorks Anthology">The ThoughtWorks Anthology</a></li>
        <li><a href="http://www.infoq.com/minibooks/scrum-xp-from-the-trenches" title="Scrum and XP from the Trenches">Scrum and XP from the Trenches</a></li>
      </ul>
    </div>

    <div class="bottomcolumn bottomright">
      <h3>Upcoming Events</h3>
      <br/>
      <ul class="borderedlist iconlist">
        <li><a href="http://amsterdam-rb.org/" title="Amsterdam.rb">Amsterdam.rb</a></li>
        <li><a href="http://groups.google.com/group/utrecht-rb" title="Utrecht.rb">Utrecht.rb</a></li>
        <li>Amsterdam ACK night</li>
      </ul>
    </div>
  </div>
</div>
