<div id="leftcolumn">
  <a href="http://twitter.com/samaaron"><h3 class="leftbox">Latest on Twitter</h3></a>
  <ul class="leftbox borderedlist">
    <li>Go is just another language written first for the compiler and only secondarily for the programmer", Jeff Bone. <a href="http://is.gd/4VrH3">http://is.gd/4VrH3</a></li>
    <li>Only today have I realised that I've been using Emacs for almost a year without having byte-compiled any of my libraries. :-)</li>
    <li>How on earth have I managed to get this far in my life without completely drenching myself in endless lashings of Faust? <a href="http://is.gd/4Tn39">http://is.gd/4Tn39</a></li>
    <li>Finally, my blog is back up and running! I'm looking forward to using it to talk about my latest projects: <a href="http://sam.aaron.name/blog.html">http://sam.aaron.name/blog....</a></li>
    <li>@martiell Yep, they're primarily for the office but also for those occasions when you're working in a café next to irritating conversations.</li>
    <li>Just wow. My new Sennheiser HD 25-IIs produce a feeling of warmth and connection with music that I've never experienced before.</li>
    <li>Sad to be leaving Cambridge, I've had a really wonderful time here and met lots of fantastically interesting people.</li>
    <li>RT @aslak_hellesoy: Ruby is our passion! #rubyfoo <a href="http://pic.gd/cd3a6a">http://pic.gd/cd3a6a</a> @hirodusk @samaaron @yukihiro_matz @olabini @aslak_hellesoy @tastapod</li>
  </ul>
</div>


