@charset "UTF-8";

@import url("reset-min.css");

body{
    font: 62.5%/2.2em "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #4b4942;
    background: #fcfcfc;
}

a{
    text-decoration: none;
    color: #5599a7;
}

a:hover{color: #FF0080;}

hr{display: none;}

strong{font-weight: bold;}

h1{
    position: absolute;
}

h1 a{
    font: 24px/24px Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 22px 9px 25px 20px;
    display: block;
    color: #fff;
}

#header .container{height: 253px;}

#header .container #title{
    text-align: right;
    float: right;
    position: relative;
    top: 100px;
    font: italic 50px "Gill Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#header .container #name{
    text-align: right;
    float: right;
    position: relative;
    top: 100px;
    font: italic 25px "Gill Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    clear: both;
}

#header{
    height: 250px;
    background: #4a4841 url(../images/top_bg.jpg) top repeat-x;
    position: relative;
}

#ae{
    position:  absolute;
}

#main{
    padding:24px 0 20px 0;
}

.container{
    width: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#topnav{
    position: absolute;
    right: 0;
    top:20px;
}

#topnav li{
    float: left;
    padding-right: px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: normal;
}

#topnav li a{color: #fff;}
#topnav li a:hover,#topnav li.active a{color: #2c2c2c;}


#leftcolumn{
    float: left;
    width: 193px;
}

#leftcolumn .leftbox p{
    padding-bottom:1em;
    line-height:1.5em;
    font-size:12px
}

.leftbox{
    background: #f1f0ef;
    padding: 10px 23px 10px 23px;
    margin-bottom: 3px;
    line-height:1.8em;
}

.emptyleftbox{
    padding: 10px 23px 10px 23px;
    margin-bottom: 3px;
    line-height:1.8em;
}

h3.leftbox{
    font-size:19px;
    color: #8c8685;
    background: #f1f0ef;
    padding:5px 0 10px 23px;
}

h3.header_small{
    font-size:15px;
    font-weight: bold;
    background: #f1f0ef;
    padding:0 23px 5px 23px;
}

ul.leftbox{
    font-size: 0.9em;
}

ul.borderedlist li{
    border-bottom: 1px dashed #d1cfcd;
    padding-bottom: 5px;
    padding-top: 5px;
}

#center{
    float: left;
    width: 380px;
    padding: 0 20px;
}

.main_content h2{
    color: #ff0080;
    font-size: 2em;
    margin: 10px 0;
}

.main_content p{
    padding-bottom: 10px;
    font-size: 1.3em;
}

#sam{
    float: right;
}

#rightcolumn{
    float: left;
    width:287px;
}


#rightcolumn .interest{
    background: #eeeded;
    padding: 5px 23px 10px 5px;
    margin-bottom: 15px;
    width:277px;
    overflow: hidden;
    font-size:11px;
    line-height: 18px;
    color: #58584D;
    overflow: hidden;
}

#rightcolumn .interest_image{
    float: left;
    margin: 6px 0 0 6px;
    position: relative;
}

#rightcolumn .interest_description{
    float: right;
    width:180px;
}

#rightcolumn .interest_description h4{
    font-size:1.3em;
    color: #ff0080;
    font-weight: bold;
    padding-top:10px;
}

#rightcolumn .interest_description p{
    font-size:1em;
}

#bottominfo{
    border-top: 5px solid #42423b;
    background: #f1eee7;
    padding-bottom:25px;
    width: 100%;
    overflow: hidden;
}

.bottomcolumn{
    float: left;
    width:288px;
    margin-right: 18px;
}

.bottomright{margin-right:0;}


.bottomcolumn h3{
    border-bottom: 4px solid #9b968f;
    color: #5699A7; font-size:18px;padding:15px 0 5px 5px;
}

.bottomcolumn p{
    padding: 10px 35px 10px 5px;
    font-size: 1.2em;
}

.iconlist{
    border-top: 1px dashed #d1cfcd;
    font-size: 1.2em;
}


#footer{
    height: 37px;
    background: #4B4942;
    font-size: 1.2em;
    color: #A39D97;
}

#contact_me{
    float: left;
    height: 23px;
    padding:2px 0 0 0;
    margin-top: 5px;
    font-size: smaller;
}

#footer_navigation{
    float: right;
    padding-top:7px;
}

#footer_navigation li{
    float: left;
    padding-left:18px;
}

#footer_navigation li a{
    text-transform:uppercase;
}

#footer_navigation li a{
    color: #A39D97;
}

#footer_navigation li a:hover{
    color: #5699A7;
}


#blog{
    width: 800px;
}

#blog p{
    font-size: 1.35em;
    color: #3A3832;
    line-height: 1.5em;
    text-align: justify;
}

#blog h1{
    font: italic 35px "Gill Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    position: relative;
    color: #ff0080;
    padding-top:10px;
}

#blog h3{
    font-style: italic;
    text-align: left;
    padding-bottom: 20px;

}

#blog em{
    font-style: italic;
}
