---
---
{% include doctype.html %}
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body>

    {% include blog_header.html %}

    <div id="main" class="container">
      <div id="blog">
        <div class="main_content">
          <h1>{{page.title}}</h1>
          <h3>Posted on {{ | date:'%A'}} the {{page.day}}<sup>{{page.suffix}}</sup> of {{page.date | date:'%B'}}, {{page.date | date:'%Y'}}</h3>
          {{ content }}
        </div>
      </div>
    </div>

    {% include blog_bottom.html %}
    {% include footer.html %}
  </body>
</html>
