---
---
{% include doctype.html %}
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body>

    {% include blog_header.html %}

    <div id="main" class="container">
      <div id="blog">
        <div class="main_content">
          <a href="{{page.url}}"><h1>{{page.title}}</h1></a>
          <h3>Posted on {{page.date | date_to_english_html_string}} </h3>
          {{ content }}
        </div>
      </div>
    </div>

    {% include blog_bottom.html %}
    {% include footer.html %}
  </body>
</html>
