---
---
{% include doctype.html %}
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body>

    {% include header.html %}

    <div id="main" class="container">
      <div id="blog">
        <div class="main_content">
          {% for post in site.posts limit: 5 %}
          <h1>{{post.title}}</h1>
          <h3>Posted on {{post.date | date:'%A'}} the {{post.day}}<sup>{{post.suffix}}</sup> of {{post.date | date:'%B'}}, {{post.date | date:'%Y'}}</h3>
          {{ content }}
          {% endfor %}
        </div>
      </div>
    </div>

    {% include blog_bottom.html %}
    {% include footer.html %}
  </body>
</html>
